.ourProducts {
  p {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }
  padding: 2.187em 0 2.5em;
  background: #f9f8f4;
  @media (min-width: 576px) {
    padding: 3.125em 0 3.75em;
  }
  .products {
    margin-top: 2.125em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 576px) {
      flex-direction: row;
      margin-top: 3.125em;
    }
    .productTile {
      margin-bottom: 1.75em;
      @media (min-width: 576px) {
        margin-right: 10px;
        margin-bottom: 0px;
      }
      @media (min-width: 992px) {
        // margin-right: 3.75em;
        margin-right: 20px;
        margin-bottom: 0px;
        flex: 1;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}