.ourProducts {
  background: #f9f8f4;
  p.bulkOrderText {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }
  .desktop-products-container {
    display: flex;
    justify-content: center;    
  }
}