.button {
    appearance: none;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background ease 0.5s;

    &.button-primary {
      border: 2px #f28c14 solid;
      &:hover {
        background: #f28c14;
        color: #fff;
      }
    }

    &.button-inverse {
      background: #f28c14;
      border: 2px transparent solid;
      color: #fff;
      &:hover {
        color: #000;
        background-color: transparent;
        border: 2px #f28c14 solid;
      }
    }

    &:focus {
      outline: none;
    }
}