
.heroSlider {
  position: relative;
  height: 100vh;
  width: 100vw;
  button:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}


.Slide {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  transition: opacity 200ms ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Slide[aria-hidden="true"] {
  opacity: 0;
  transition-delay: 200ms;
  z-index: -1;
}

.SlideContent {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 1em;
  padding: 0 10px;
  transform: translateY(-50%);
  @media (min-width: 992px) {
    left: 9.375em;
  }
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    @media (min-width: 576px) {
      font-size: 4rem;
    }
    line-height: 1.2em;
    margin-bottom: .425em;
    text-shadow: 2px 2px 2px #000;
  }
  p {
    font-size: 1rem;
    br {
      display: none;
      @media (min-width: 576px) {
          display: block;
      }
    }
    @media (min-width: 576px) {
      font-size: 1.25rem;
    }
    color: #f8f9fa;
    line-height: 1.4;
  }
}

.ProgressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.ProgressBar > div {
  background-color: rgba(255, 177, 61, .35);
  height: 10px;
}

.SlideNav {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.SlideNavItem {
  margin-right: 10px;
  position: relative;
  > button {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
}


.SlideNavItem > button > span {
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  &::after {
    content: "";
    height: 1rem;
    width: 1rem;
    border: 2px #f28c14 solid;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 3px;
    // transform: scale(0);
    opacity: 0;
    transform-style: preserve-3d;
    transition: .5s all;
  }
}

.SlideNavItem > button[aria-current="true"] {
  > span::after {
    // transform: scale(1)
    opacity: 1;
  }
}


// .Controls {
//   position: absolute;
//   right: 20px;
//   bottom: 50px;
//   display: flex;
//   justify-content: center;
// }

// .Media {
//   font-size: 32px;
//   text-align: center;
// }

// .SlideNavItem > button:focus-visible {
//   background-color: hsla(0, 100%, 100%, 0.33);
// }

