.hamburger {
  appearance: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  @media (min-width: 767px) {
   display: none;
  }

  .icon {
    border-radius: 3px;
    width: 24px;
    height: 24px;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transition-property: opacity, filter;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    // transform: scale(0.8);
  }
  
  .line {
    position: absolute;
    top: 50%;
    display: block;
  }
  .line::before {
    display: block;
    content: '';
    top: -10px;
  }
  
  .line::after {
    display: block;
    content: '';
    bottom: -10px;
  }
  .line,
  .line::after,
  .line::before {
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 4px;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-property: transform;
    background-color: #363433;
  }
  
  .icon-container-active {
    .line {
      transform: rotate(45deg);
    }
    .line::before {
      transform: translate3d(0, 10px, 0) rotate(-45deg);
      opacity: 0;
    }
    .line::after {
      transform: translate3d(0, -10px, 0) rotate(90deg);
    }
  }
  
  .title {
    font-weight: 700;
    display: inline-block;
    padding-left: 4px;
    padding-top: 4px;
    font-size: .75rem;
    // @media (min-width: 576px) {
    //   display: inline-block;
    // }
  }
}
