.socialIcons {
  padding-top: 4px;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
        display: block;
        &:hover {
          .icon-facebook2 {
            color: #5479bd
          }
          .icon-twitter {
            color: #55acee;
          }
          .icon-youtube {
            color: #ce1312;
          }
          .icon-instagram {
            color: #e1306c;
          }
        }
      }
    }
  }
  i {
    font-size: 20px;
    margin-right: 10px;
  }
}