.userForm {
  h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px #d7d7d7 solid;
    color: #f28c14;
  }
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .button {
    margin-top:  0;
    margin-bottom:  0;
  }
  background: #fff;
  width: calc(100vw - 40px);
  padding: 20px 25px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
  @media (min-width: 576px) {
    width: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
  }
  label {
    font-family: inherit;
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
    color: #343a40;
    &.has-error {
      color: #e02007;
      font-size: 12px;
      padding-bottom: 0;
    }
    .asterisk {
      color: #e02007;
      display: inline-block;
      font-size: 1rem;
      padding-left: 5px;
    }
  }
  .close-btn {
    position: absolute;
    top: -20px;
    right: -13px;
    border: none;
    background: #e02007;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 10px;
  @media (max-width: 320px) {
    margin-bottom: 5px;
  }
  textarea.form-control {
    height: 80px;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.form-control:focus {
  border-color: #f28c14;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 140, 20, 0.6);
}

.error {
  border: 1px #e02007 solid;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 32, 7, 0.6);
}