@import url('https://fonts.googleapis.com/css?family=Oswald:700');
// @import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Poppins:400');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f8f4;
  // background-color: #363433;
  color: #343a40;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

ul, p, 
h1, h2, h3, h4 {
  margin: 0;
}

.container {
  width: 100%;
  // height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  @media (min-width: 576px) {
    // max-width: 540px;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  @media (min-width: 768px) {
    // max-width: 720px;
    max-width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }
  
  @media (min-width: 992px) {
    // max-width: 960px;
    max-width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width: 1200px) {
    max-width: 1136px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

.main-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
  @media (min-width: 576px) {
    font-size: 3rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    // background-color: #9fc74d;
    background-color: #f28c14;
    border-radius: 8px;
    bottom: 0;
    left: 0;
  }
  &.invert {
    color: #fff;
    &::before {
      background-color: #363433 
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 576px) {
    flex-direction: row;
  }
  .left__content {
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
    @media (min-width: 576px) {
      width: 95%;
      margin-bottom: 0;
      margin-right: 2.5%;   
    }
  }
  .right__content {
    width: 100%;
    margin-bottom: 2.5%;
    @media (min-width: 576px) {
      width: 95%;
      margin-bottom: 0;
      margin-left: 2.5%;   
    }
  }
}

p {
  line-height: 1.4em;
}

.productOverlay--open {
  overflow: hidden;
}

button {
  &:focus {
    outline: none;
  }
}

body * {
  -webkit-tap-highlight-color: transparent;
}

.mobileOnly {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}